@charset "UTF-8";


img{
    border-radius: 10px;
}

div.galeria{
    background-color: rgba(220, 242, 166, 0.422);
    margin: 5px;
    display: inline-block;
    width: 550px;
    height: auto;
    border: 1px solid rgb(45, 168, 235);
    text-align: center;
}

div.galeria img{
    width: 90%;
    height: auto;
}

