@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header > h1 {
    text-align: center;
    background-color: gainsboro;
    padding: 5px;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    color: white;
    background-color: rgb(97, 96, 96);
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}

article h2 {
    padding: 10px;
    text-decoration: underline;
}