@charset "UTF-8";

/* Versão demais mídias */

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px (já tem, é o style.css, mobile-first)
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

-------------------------------
*/

@media print { /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    /* background-image desnecessário pq não aparece na impressão */

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        color: black;
        text-shadow: none;
    }

    main::after {
        content: "Versão impressa de site desenvolvido durante aprendizado de Media Query";
        text-decoration: overline;
    }

    img#phone {
        display: none;
    }
    img#print {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(imagens/back-tablet.jpg)
    }
    img#phone {
        display: none;
    }
    img#tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(imagens/back-pc.jpg);
    }
    img#phone {
        display: none;
    }
    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) { /* Grandes Telas */
    body {
        background-image: url(imagens/back-tv.jpg);
    }
    img#phone {
        display: none;
    }
    img#tv {
        display: block;
    }
}