* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px 70px 200px 70px;
    gap: 2px;
}

.box {
    border: 2px solid black;
    padding: 5px;
}

#top {
    background-color: rgba(58, 23, 175, 0.222);
    grid-column-start: 1;
    grid-column-end: 3;
}

#menu {
    grid-column: 1 / 3;
}

#main  {
    grid-area: 3 / 1 / 4 / 2;
}

#aside {
    grid-area: 3 / 2 / 4 / 3;
}

#footer {
    grid-area: 4 / 1 / 5 / 3
}
