@charset "UTF-8";

/* Este arquivo css é para a orientação do dispositivo portrait / retrato, em pé */

body {
    background-image: url(imagens/cev-portrait.jpg);
    background-position: center bottom;
}